body {

padding-left: 10%;}

.question_tittle {
    margin-top: auto;
    font-size: 19px;
    line-height: 27px;
    margin: 20px 0;
}

.option_ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    margin: 30px 0;
}

.option_list {
  font-weight: 600;
  padding: 10px;
  border: solid 1px #d3d3d3;
  box-shadow: 0 2px 6px rgba(149, 149, 149, 0.2);
  margin-bottom: 10px;
  height: 40px;
  width: 80%;
  padding-left: 15px;
  padding-top: 15px;
}

/* 正解ボックスを青にする */

.correct_answer {
    color: #fff;
    background: #297CFE;
}

/* 不正解ボックスを赤にする */

.incorrect_answer {
    color: #fff;
    background: #ff5128;
}