version: "3"

services:
  db:
    build:
      context: ./db
    ports:
      - 3304:3306
    volumes:
      - ./db/var/lib/mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=laravel
      - MYSQL_USER=laravel
      - MYSQL_PASSWORD=password
      - MYSQL_ROOT_PASSWORD=password
    platform: linux/x86_64
  app:
    build:
      context: ./app
    volumes:
      - ../posse-3rd-webapp:/work/backend
    depends_on: [ "db" ]
  web:
    build:
      context: ./web
    ports:
      - 8001:80
    volumes:
      - ../posse-3rd-webapp:/work/backend
    depends_on: [ "app" ]
  mailhog:
    image: 'mailhog/mailhog:latest'
    ports:
        - 1025:1025
        - 8025:8025
