header>.content-wrapper {
    display: flex;
    height: 40px;
    background: #fff;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    align-content: center;
}

.content-wrapper {
    height: auto;
    max-width: 650px;
    width: 100%;
    margin: 0 auto;
}

/* 三本線のオープンメニュー */

.open-menue {
    height: 24px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    padding: 15px 0 11px;
}

/* クイジーマーク */

header>h4 {
    flex-grow: 1;
    margin-left: 10px;
}

/* クイジーマークのsvg */
header h4 svg {
    margin: 0;
    padding: 0;
    display: block;
    width: auto;
    height: auto;
    top: 2px;
    position: relative;
}

/*動かない ヘッダー */

header {
    display: block;
    width: 100%;
    height: 40px;
    position: fixed;
    /* box-shadow: 0px 1px rgb(223, 221, 221);  */
    box-shadow: 0 0 0 1px rgb(0 0 0 / 2%), 0 1px 2px 0 rgb(0 0 0 / 8%);
}

/* ヘッダー右の二つのボタン */

.header-right {
    flex-grow: 1;
    height: 40px;
    margin: 0;
    text-align: right;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}

/* オレンジのボタン */

.subtint-button1 {
    width: 100px;
    display: block;
    background: #f49000;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

/* オレンジボタンの中の文字 */

.header-right-creat {
    height: 25px;
    line-height: 25px;
    padding: 0 6px;
    margin-right: 10px;
    font-size: 11px;
}

/* 黒のボタン */

.subtint-button2 {
    width: auto;
    display: block;
    background: #031831;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
}

/* 黒ボタンの中の文字 */

.header-right-search {
    background: #031831;
    height: 25px;
    line-height: 25px;
    padding: 0 6px;
    margin-right: 10px;
    font-size: 11px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.header_below_four_box {
    color: #031831;
    font-size: 10px;
    font-weight: 500;
}

.header_below_four_box::before {
    display: block;
    content: '';
}

.header_below_four_box1 {
    color: #30619C;
}

/* ヘッダーの下 */
.headerBelow {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    margin: 0 auto;
    font-size: 1px;
}

.headerBelow li {
    margin: 0;
    background: rgb(239, 239, 239);
    text-align: center;
    line-height: 1.2;
}

/* しりとりのとこ */

.shiritori {
    display: inline-block;
    text-align: center;
    width: 100%;
}

/* 詳しくはこちらの色 */

span {
    color: #297CFE;
}

a {
    font-size: 13px;
    color: black;
    text-decoration: none;
}

/* Kってマーク */

.img_K {
    display: ;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}

/* 東京マーク */

.tokyo {
    font-size: 12px;
    height: 20px;
    width: fit-content;
    line-height: 20px;
    text-decoration: none;
    padding: 3px 6px;
    margin: 10px;
    border-radius: 2px;
    color: #287dff;
    border: 2px solid #287dff;
    font-weight: 700;
}

/* ビュー数の表示 */

.view_rate {
    font-size: 13px;
    line-height: 0px;
    margin-top: 30px;
}

/* ビュー数の表示の下を透明にする */

#answer_rate {
    opacity: 0.5;
}

/*
p {
    color: blue;
    text-decoration: none;
}
a::after {
    display: block;
    margin-top: 5px;
    width: 715px;
    margin-left: 385px;
    height: 1px;
    background-color: rgb(197, 194, 194);
    content: ''; 
} */

.header-spacer {
    height: 40px;
}

.clearfix {
    clear: both;
}

/* ここまではヘッダーのとこ */

/* この地名は〜の下線 */

h2::after {
    display: block;
    margin-top: 10px;
    width: 120px;
    height: 2px;
    background-color: #00ab36;
    content: '';
}

body {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.whole_wrapper {
    padding-top: 40px;
}

/* ガチで */

h1 {
    margin-top: auto;
    font-size: 19px;
    line-height: 27px;
}

/* この地名 */

h2 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    size: 16px;
    list-style-type: none;
}

/* 選択肢 */

li {
    display: block;
    width: 600px;
    height: 42px;
    border: 1px solid #ebebeb;
    padding-top: 10px;
    padding-left: 13px;
    margin: 10px 0;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 2px -2px rgb(0 0 0 / 13%);
    text-align: left;
    line-height: center;
    background: white;
}

.headerBelow svg {
    width: 20px;
}

/* 正解ボックスを青にする */

.correct_answer {
    color: #fff;
    background: #297CFE;
}

/* 不正解ボックスを赤にする */

.incorrect_answer {
    color: #fff;
    background: #ff5128;
}

img {
    display: block;
    width: auto;
    margin: auto;
}

/* 答えのボックス */

.answerBox {
    display: none;
    width: 600px;
    background: #F5F5F5;
    padding: 17px;
    margin: auto;
}

/* 正解不正解の表示 */

.rightWrong {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    padding-bottom: 3px;
    margin-bottom: 10px;
    display: inline-block;
}

/* 正解の下線 */

.right {
    border-bottom: 3px solid #297CFE;
}

/* 不正解の下線 */

.wrong {
    border-bottom: 3px solid #ff5128;
}

/* 一回しかクリックできなくする */

.click_invalidation {
    pointer-events: none;
}