/* ログイン中かどうか表示 */
.login-status {
    position: absolute;
    top: 10%;
    right: 2%;
}

/* 問題の管理部分 中央揃え */
.whole-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* big-questionを追加するボタン */
.big-question-add-btn {
    margin: 1rem 0 2rem 0;
    /* border: 3px solid rgb(165, 162, 162);
    border-radius:10px; */
}

/* クイズタイトル */
.question-name {
    border: 4px double #b3b4b5;
    padding: .5rem 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

/* 問題を中央揃えに */
.questions-wrapper {
    display: flex;
}

/* 一つの問題の塊 */
.question-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-bottom: 2rem;
}

/* 地名の画像 */
.home-img {
    width: 100%;
    height: 100%;
}

.home-img-wrapper {
    width: 300px;
    height: auto;
}

/* ボタン系全部に */
.home-link-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background: rgb(228, 226, 223);
    color: black;
    border-radius: 10px;
    margin: 10px;
}

.home-link-btn:hover {
    transition: all 0.2s linear;
    background: #01b5d0;
    text-decoration: none;
    color: black;
}

/* 問題編集・削除ボタンの位置 */
.home-link-btn-wrapper {
    margin-top: 1rem;
}